@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

.auth-home{
  background-image:url('https://media.istockphoto.com/photos/stethoscope-on-pastel-blue-table-doctor-tool-for-heartbeat-and-noise-picture-id1137285796?k=20&m=1137285796&s=612x612&w=0&h=IoWShSU6swGpldgDOnLPbyb40ukkL_WKkQo6Mi94cU0=');
  background-position: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif !important;
  color: rgba(0, 0, 0, 0.678);
  
}
.login-container{
  background: #112031;
  text-align: left ;
  color: white;
}
.input-field:focus{
  outline: none ;
  box-shadow: none;
  border-color: azure;
}
.forgot-text {
  color: rgb(58, 58, 58);
  cursor: pointer;
  transition: 0.4s;
}
.forgot-text:hover{
  color: rgb(37, 120, 228);
  
}

.login-btn{
  border: none;
  width: 100%;
  display: block;
  padding: 10px;
  color: black;
  font-weight: 500;
  border-radius: 10px;
  transition:all ease 1s ;
}

.toggleIcon{
  cursor: pointer;
}
.img-icon{
  width: 45px;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid white;
  padding: 3px;
  transition: 0.5s;
}
.icon-parent{
  display: flex;
  justify-content: space-evenly;
  width: 280px;
  margin: 0 auto;
}
.signUP-btn{
  transition: 0.5s;
  cursor: pointer;
}
.signUP-btn:hover{
  color: rgb(29, 115, 185);
}