.about-bg{
background-image: url('https://i.ibb.co/0h9BkKg/about.webp');
background-repeat: no-repeat;
background-size: cover;
height: 400px;
}

.roun{
    border-radius:50px
}
.title1{
color: black;
font-weight: bold;
}